.user-feed-container {
    .feed-create-button{
        position: relative;
        div {
                position: absolute;
                bottom: 145px;
                right: 37px;
            }
    }
   
}

