// Variables (for easy customization)
$primary-bg-color: #F7EBFF;
$secondary-bg-color: #efefef;
$text-color-light: #555;
$text-color-dark: #888;
$highlight-color: rgba(0, 0, 0, 0.5);
$hover-highlight-color: rgba(0, 0, 0, 0.8);
$border-radius: 10px;

// Feed Container
.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 1rem;
    max-height: 80vh;
    overflow: auto;
    padding-bottom: 4rem;
    &::-webkit-scrollbar {
            width: 0px;
            /* You can reduce this value to make the scrollbar thinner */
        }
}

// Feed Card Styling
.feed-card {
    display: flex;
    flex-direction: column;
    background: $primary-bg-color;
    border-radius: 20px;
    width: 100%;
    padding-bottom: 10px;
}

// Feed Content Styling
.feed-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Carousel Container
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

// Carousel Header
.carousel-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.carousel-count {
    font-size: 14px;
    color: $text-color-light;
}

// Carousel
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-content {
    display: flex;
}

// Carousel Item Styling
.carousel-item {
    min-width: 100%;
    max-width: 100%;
    flex-shrink: 0;
    text-align: center;
}

// Feed Image and Media
.feed-image,
.feed-media {
    width: 100%;
  height: 250px;
    border-radius: 0px;
    object-fit: cover;

}

// Carousel Controls (Next and Previous Buttons)
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev-btn,
.next-btn {
    background-color: $highlight-color;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &:hover {
        background-color: $hover-highlight-color;
    }
}

// Feed Info and Actions
.feed-info {
  width: 100%;
  display: flex;
}

.feed-title {
    font-size: 18px;
    font-weight: bold;
}

.feed-actions {
    // margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

// Like and Share Button Styling
.like-btn,
.share-btn {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px;
   
    border-radius: 5px;
}

// Loading Spinner Styling
.loading-spinner {
    margin: 20px;
    font-size: 16px;
    color: $text-color-dark;
}

// Load More Trigger
.load-more-trigger {
    height: 1px;
}

// Feed Header Text Styling
.feed-header-text {
    font-weight: 500;
    font-size: 25px;
    padding: 0 1rem;
}

// Other User Box Styling (Left Text Align)
.other-user-box {
    text-align: left;
}