body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
      max-width: 450px;
        margin: auto;
        border: 1px solid rgba(198, 198, 198, 0.5490196078);
        position: relative;
        height: 100vh;
        overflow: auto;
          &::-webkit-scrollbar {
              width: 0px;
              /* You can reduce this value to make the scrollbar thinner */
            }
}